.Card .bgphoto {
  background-image: url("https://dev.forinov.fr/pictures/incubateur/3/crop_image.jpg");
  background-size: cover;
  width: 928px;
  height: 192px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.Card .bgprofile {
  background-color: #27292f;
  background-size: cover;
  width: 928px;
  height: 360px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.Card .logo {
  position: relative;
  background-image: url("https://dev.forinov.fr/pictures/incubateur/3/logo.jpg");
  background-size: cover;
  width: 140px;
  height: 140px;
  border: #27292f 5px solid;
  border-radius: 50%;
  bottom: 20%;
}
.Card .button1 {
  position: relative;
  background-color: #27292f;
  width: 96px;
  height: 40px;
  border: #27292f 5px solid;
  border: solid 1px #fff;
  border-radius: 20px;
  bottom: 15%;

}

.Card .button1 .pdf {
  width: 59px;
  height: 19px;
  
}

.Card .bgprofile .profile {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-left: 15px;
  
}

.Card .bgprofile .photoprofile {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
  position: relative;
  bottom: 15%;

}

.Card .bgprofile .about {
  display: flex;
  flex-direction: row;
  position: relative;
  bottom: 15%;
}

.Card .bgprofile .about .Jubiwee {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
}

.Card .bgprofile .about .dots  {
    display: flex;
    flex-direction: row;
    margin-left: 40vw;
    margin-top: 15px;
    gap: 4px;
}

.Card .bgprofile .about .dot  {
  width: 7px;
  height: 7px;
  border-radius: 5px;
  background-color: #fff;
}


.Card .bgprofile .contact {
  display: flex;
  flex-direction: row;
  position: relative;
  bottom: 40%;
  left: 20%;

}

.Card .bgprofile .contact .map {
    width: 10px;
    height: 16px;

}